<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>log in account</title>
</head>
<body>
    <center><h1>LITTLE HERO</h1></center>
    <center><form action="" method="post">
        <label>Nickname</label>
        <input type="text"><br><br>
        <label>Email</label>
        <input type="email"><br><br>
        <label>Password</label>
        <input type="password"><br><br>
        <label>Запомни меня</label>
        <input type="checkbox"><br><br>
        <input type="submit" value="Создать аккаунт">
    </form></center>
</body>
</html>