<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>log in account</title>
</head>
<body>
    <center><h1>LITTLE HERO</h1></center>
    <center>Ник</center><br>
    <center><form action="/6.html" >
        <input type="submit" value="Профиль">
    </form></center><br>
    <center><form action="/1.html" >
        <input type="submit" value="Выйти">
    </form></center><br>
    <center><form action="/5.html" >
        <input type="submit" value="Библиотека карт">
    </form></center><br>
    <center><a href="little_hero.zip" download="little hero">
        <input type="submit" value="Скачать Little hero">
    </a></center>
</body>
</html>