{% extends "index.html" %}
{% block body %}
<div>
    <form action="{{ url_for('registration') }}" method="post">
        <div>
            <label for="nickname">Nickname</label>
            <input type="text" required id="nickname" name="nickname">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required id="email" name="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" required id="password" name="password">
        </div>
        <div>
            <label for="file">Укажите аватар.</label>
            <input type="file" id="file" name="file">
        </div>
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                     {{ message }}
                  {% endfor %}
               {% endif %}
            {% endwith %}
            <button type="submit" id="reg">Создать аккаунт!</button>
        </div>
    </form>
</div>
{% endblock %}